.checkout{
    padding-top: 2rem;
    &__dot{
        color: #DDDDDD;
    }
    &__inner{
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
    }
}
.order{
    &__list{
        min-width: 464px;
    }
    &__col{
        margin-bottom: 1.5rem;
    }
    &__item{
        display: flex;
    }
    &__image{
        width: 160px;
        object-fit: cover;
    }
    &__text{
        margin-left: 1rem;
    }
    &__cat{
        margin-top: 0.25rem;
        margin-bottom: 1rem;
        font-size: 13px;
    }
    &__price{
        font-weight: 700;
        font-size: 1rem;
    }
    &__sum{
        border-top: 1px solid #DDDDDD;
        text-align: right;
        &--price{
            padding-top: 1rem;
        }
        &--text{
            @include rem(13px);
            line-height: 17px;
            color: #666666;
        }
    }
    &__form{
        min-width: 488px;
    }
}