.contacts{
    list-style: none;
    padding: 0;
    margin: 1rem 0 0 0;
    &--footer{
        margin: 2rem 0 0 0;
    }
    &__link{
        color: var(--color-black);
    }
    &__phone{
        margin-top: 11px;
        &--footer{
            margin-top: 0;
        }
    }
}
.phone{
    text-decoration: none;
    &__number{
        display: block;
        font-weight: 700;
    }
    &__subtitle{
        display: block;
        font-size: 13px;
        &--footer{
            opacity: 0.75;
        }
    }
}