.footer{
    padding: 2rem 0;
    background-color: var(--color-black);
    color: var(--color-white);
    a{
        color: var(--color-white);
        transition: linear 0.5s;
    }
    &__inner{
        display: flex;
    }
    &__content{
        margin-right: 3rem;
    }
    &__title{
        font-size: 1.125rem;
        font-weight: 700;
        margin-bottom: 0.75rem;
    }
    &__links{
        list-style: none;
        padding: 0;
        margin: 0 0 0 0.75rem;
        li{
            margin-bottom: 0.5rem;
            &:last-child{
                margin-bottom: 0;
            }
        }
        &--email{
            margin-top: 2rem;
        }
        :hover{
            transition: linear 0.5s;
            opacity: 0.5;
        }
    }
    .phone{
        text-decoration: none;
        &--number{
            display: block;
            font-weight: 700;
        }
        &--subtitle{
            display: block;
            font-size: 13px;
            opacity: 0.75;
        }
    }
}