:root{
    --color-black: #000000;
    --color-white: #ffffff;
    --color-gray: #666666;
    --color-blue: #4541FE;
    --color-pink: #FFA88C;
    --color-l-blue: #7482FF;
    --color-l-pink: #FFE9FD;
    --color-l-gray: #F3F3F3;
    --main-font-fam: 'PT Sans', sans-serif;
    --main-font-size: 16px;
}