<!DOCTYPE html>
<html lang="ru">
{% include "modules/head.html" %}
<body>
    {% include "modules/header.html" %}
    <section class="cardproduct">
        <div class="container">
            <div class="cardproduct__inner">
                <div class="cardproduct__info">
                    <h2 class="cardproduct__title">Maison Margiela Fusion Low Sneakers</h2>
                    <p class="cardproduct__subtitle">Кроссовки</p>
                    <div class="cardproduct__form">
                        <div class="cardproduct__form--row">
                            <span>Цвет</span>
                            <div>
                                <button class="btn btn--active">Белый с розовым</button>
                                <button class="btn">Белый с зелёным</button>
                            </div>
                        </div>
                        <div class="cardproduct__form--row">
                            <span>Размер US</span>
                            <div>
                                <button class="btn">6</button>
                                <button class="btn btn--active">6,5</button>
                                <button class="btn">7</button>
                                <button class="btn">9</button>
                            </div>
                        </div>
                        <div class="cardproduct__form--row">
                            <a href="#" class="cardproduct__form--link">Таблица размеров</a>
                        </div>
                        <div class="cardproduct__form--button">
                            <button type="button" class="button">Купить, 92 000 ₽</button>
                        </div>
                    </div>
                    <div class="cardproduct__table">
                        <div class="cardproduct__table--material">
                            <p class="cardproduct__table--title">Материал</p>
                            <div class="cardproduct__table--content"><p>Кожа, текстиль</p></div>
                        </div>
                        <div class="cardproduct__table--country">
                            <p class="cardproduct__table--title">Страна-производитель</p>
                            <div class="cardproduct__table--content"><p>Италия</p></div>
                        </div>
                        <div class="cardproduct__table--description">
                            <p class="cardproduct__table--title">Описание</p>
                            <div class="cardproduct__table--content">
                                <p>Деконструктивный и авангардный дизайн с уникальными концепциями и нетрадиционным мастерством.</p>
                                <p>В качестве материала используются два вида кожи. Верх дополнен деталями из сетчатого материала и текстиля.</p>
                                <p>Грубые и многослойные кроссовки показывают отличие от традиционного аккуратного стиля создания обуви. Они оснащены раскрашенной вручную резиновой подошвой с брызгами и потеками.</p>
                                <p>Оригинальная слегка асимметричная система шнуровки и фирменный стежок на заднике завершают уникальный внешний вид.</p>
                            </div>
                        </div>
                        <div class="cardproduct__table--details">
                            <p class="cardproduct__table--title">Детали</p>
                            <div class="cardproduct__table--content">
                                — Два вида кожи<br>
                                — Детали из текстиля<br>
                                — Неординарная шнуровка<br>
                                — Перфорация на мыске<br>
                                — Стежок на заднике<br>
                                — Фигурная резиновая подошва<br>
                                — Цепкая подметка<br>
                                — Окрашивание с брызгами и потеками<br>
                                — Пестрая расцветка<br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cardproduct__sliders">
                    <div class="cardproduct__slider">
                        {% set slides = ['1', '2', '3', '4'] %}
                        {% for slide in slides %}
                        <div class="cardproduct__slider--item">
                            <img    src="assets/img/cardproduct/img-{{slide}}.webp" 
                                    alt=""
                                    class="cardproduct__slider--img"
                            >
                        </div>
                        {% endfor %}
                    </div>
                    <div class="dots cardproduct__slider--dots">
                        {% for slide in slides %}
                        <div class="dots--item">
                            <img    src="assets/img/cardproduct/img-{{slide}}-sm.webp" 
                                    alt=""
                                    class="dots--img"
                            >
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include "modules/interSlider.html" %}
    {% include "modules/footer.html" %}
    {% include "modules/footer_ligth.html" %}
    <script src="scripts/libs.min.js"></script>

    <script src="scripts/bundle.js"></script>
</body>
</html>