<!DOCTYPE html>
<html lang="ru">
{% include "modules/head.html" %}
<body>
    {% include "modules/header.html" %}
    <section class="catalog">
        <div class="catalog__header">
            <div class="container">
                <h1 class="catalog__title">Обувь</h1>
            </div>
        </div>
        <div class="goods">
            <div class="container">
                <div class="goods__list">
                    {% set goods = ['1','2','3','4','5','6','7','8','9','10','11','12'] %}
                    {% for good in goods %}
                        <div class="goods__col">
                            <a href="#" class="goods__item">
                                <img class="goods__image" src="../assets/img/catalog/item-{{good}}.png" alt="Goods Image">
                                <h2 class="goods__name">Maison Margiela Fusion Low Sneakers</h2>
                                <p class="goods__cat">Кроссовки</p>
                                <p class="goods__price">92 000 ₽</p>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    {% include "modules/footer.html" %}
    {% include "modules/footer_ligth.html" %}
    <script src="scripts/libs.min.js"></script>

    <!-- <script src="scripts/bundle.js"></script> -->
</body>
</html>