<!DOCTYPE html>
<html lang="ru">
{% include "modules/head.html" %}
<body>
    <section class="checkout">
        <div class="container">
            <h2 class="checkout__title">Фетч <span class="checkout__dot">•</span> Оформление заказа</h2>
            <div class="checkout__content">
                <div class="checkout__order order">
                    <div class="order__items">
                        {% set goods = ['1','2','3'] %}
                        {% for good in goods %}
                            <div class="order__row">
                                <img class="order__row--image" src="../assets/img/catalog/item-{{good}}.png" alt="Goods Image">
                                <div class="order__row--text">
                                    <h5 class="order__row--name">Maison Margiela Fusion Low Sneakers</h5>
                                    <p class="order__row--cat">Кроссовки</p>
                                    <h5 class="order__row--price">92 000 ₽</h5>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="order__total">
                        <h3 class="order__total--price">276 000 ₽</h3>
                        <p class="order__total--text">Доставка бесплатно</p>
                    </div>
                </div>
                <div class="checkout__form">
                    <form action class="form">
                        <label for="email">Эл. почта</label>
                        <input id="email" type="email" placeholder="petrov@yandex.ru">
                        <p>Пришлём чеки и трек-номер</p>
                    </form>
                </div>
            </div>
        </div>
    </section>
    {% include "modules/footer_ligth.html" %}

    <script src="scripts/libs.min.js"></script>

    <!-- <script src="scripts/bundle.js"></script> -->
</body>
</html>