<!DOCTYPE html>
<html lang="ru">
{% include "modules/head.html" %}
<body>
    {% include "modules/header.html" %}
    <section class="complete">
        <div class="container">
            <h2 class="complete__title">Заказ №213 оформлен</h2>
            <p class="complete__text">
                Скоро вам позвонит менеджер, чтобы подтвердить заказ.
            </p>
            <p class="comlete__text">
                Вернуться на главную или продолжить покупки в каталоге
            </p>
        </div>
    </section>
    {% include "modules/interSlider.html" %}
    {% include "modules/footer.html" %}
    {% include "modules/footer_ligth.html" %}
    
    <script src="scripts/libs.min.js"></script>

    <script src="scripts/bundle.js"></script>
</body>
</html>