<!DOCTYPE html>
<html lang="ru">
{% include "modules/head.html" %}
<body>
    <section class="checkout">
        <div class="container">
            <h2 class="checkout__title">Фетч <span class="checkout__dot">•</span> Оформление заказа</h2>
            <div class="checkout__content">
                <div class="checkout__order order">
                    <div class="order__items">
                        {% set goods = ['1','2','3'] %}
                        {% for good in goods %}
                            <div class="order__row">
                                <img class="order__row--image" src="../assets/img/catalog/item-{{good}}.png" alt="Goods Image">
                                <div class="order__row--text">
                                    <h5 class="order__row--name">Maison Margiela Fusion Low Sneakers</h5>
                                    <p class="order__row--cat">Кроссовки</p>
                                    <h5 class="order__row--price">92 000 ₽</h5>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="order__total">
                        <h3 class="order__total--price">276 000 ₽</h3>
                        <p class="order__total--text">Доставка бесплатно</p>
                    </div>
                </div>
                <div class="checkout__form">
                    <form action class="form">
                        <div class="form__input">
                            <label for="email">Эл. почта</label>
                            <div class="input">
                                <input id="email" type="email" placeholder="petrov@yandex.ru">
                                <p>Пришлём чеки и трек-номер</p>
                            </div>
                            <label for="telephone">Телефон</label>
                            <div class="input">
                                <input id="telephone" type="tel" placeholder="+7 999 275-12-37">
                                <p>Менеджер позвонит, чтобы подтвердить заказ</p>
                            </div>
                            <label for="city">Город</label>
                            <div class="input">
                                <input id="city" type="text" placeholder="Москва">
                            </div>
                            <label for="address">Адрес</label>
                            <div class="input">
                                <textarea id="address" name="comment" cols="40" rows="3"
                                placeholder="Тимирязевская, 32, квартира 99, вход со двора"></textarea>
                            </div>
                        </div>
                        <div class="form__submit">
                            <div class="form__submit--text">
                                <p>Бесплатная доставка курьером.</p>
                                <p>Оплата картой онлайн.</p>
                            </div>
                            <div class="form__submit--button">
                                <button class="button" type="submit">Оформить заказ, 276 000 ₽</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    {% include "modules/footer_ligth.html" %}

    <script src="scripts/libs.min.js"></script>

    <!-- <script src="scripts/bundle.js"></script> -->
</body>
</html>