<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap&subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="styles/libs.min.css">
    <link rel="stylesheet" href="styles/style.css">
    <title>Fetch</title>
</head>
<body>
    {% include "blocks/header.html" %}
    {% include "blocks/mainSlider.html" %}
    {% include "blocks/categories.html" %}
    
    <script src="scripts/libs.min.js"></script>

    <script src="scripts/bundle.js"></script>
</body>
</html>