{% if footer_page == true %}
<ul class="contacts contacts--footer">
{% else %}
<ul class="contacts">
{% endif %}
    <li class="contacts__email"><a href="#" class="contacts__link">shop@fetch.ru</a></li>
    {% if footer_page == true %}
    <li class="contacts__phone contacts__phone--footer">
    {% else %}
    <li class="contacts__phone">
    {% endif %}
        <a href="#" class="phone contacts__link">
            <span class="phone__number">8 800 912-11-42</span>
            {% if footer_page == true %}
            <span class="phone__subtitle--footer">Звонок бесплатный</span>
            {% else %}
            <span class="phone__subtitle">Звонок бесплатный</span>
            {% endif %}
        </a>
    </li>
</ul>