{% set items = [
    {title:'Для мужчин', link: ['Верхняя одежда', 'Рубашки и поло', 'Трикотаж', 'Брюки и джинсы', 'Бельё и носки']},
    {title:'Для женщин', link: ['Верхняя одежда', 'Рубашки и поло', 'Трикотаж', 'Платья и юбки', 'Бельё и носки']},
    {title:'Обувь', link: ['Кроссовки и кеды', 'Ботинки']},
    {title:'Аксессуары', link: ['Сумки и рюкзаки', 'Часы', 'Бижутерия', 'Средства для ухода']},
    {title:'Скидки', link: ['Летняя распродажа', 'Коллекция 2018']}
    
] %}
<div class="menu__content">
    {% for item in items %}
        <div class="menu__content--group">
            <h4 class="menu__content--title"><a href="#" class="menu__link" >{{item.title}}</a></h4>
            <ul class="menu__content--items">
                {% for link in item.link %}
                    <li><a href="#" class="menu__link">{{link}}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>