.main__slider{
    // max-width: 100%;
    // height: 100%;
    // object-fit: cover;
    // overflow: hidden;
    position: relative;
    .slick-prev{
        color: var(--color-white);
        left: 1.5rem;
    }
    .slick-next{
        color: var(--color-white);
        right: 1.5rem;
    }
}
.slider{
    &__item{
        position: relative;
    }
    &__img{
        width: 100%;
        height: 600px;
        object-fit: cover;
        object-position: center;
    }
    &__text{
        position: absolute;
        bottom: 72px;
        left: 152px;
        max-width: 576px;

        font-weight: 700;
        font-size: 4rem;
        text-decoration: underline;
        &[data-color-text='white']{
            color: var(--color-white);
        }
    }
}